{% extends "base.html" %}
{% import "buttons.html" as buttons %}

{% block page_content %}
<div class="page_header">
	<h1>Administrate Field Types</h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <span class="pull-left">Available Fields</span>
    <div class="btn-group pull-right">
      {{ buttons.add(url_for('field_storage.schema_add'), text="Add Field Type") }}
    </div>
  </div>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
      <th>Description</th>
			<th>Permit Comment</th>
			<th>Datatype</th>
      <th></th>
		</tr>
	{% for schema in schemata %}
		<tr>
			<td>{{ schema.name }}</td>
      <td>{{ schema.description }}</td>
			<td>{{ schema.permit_comment }}</td>
			<td>{{ schema.data_type }}</td>
      <td>
        <div class="btn-group pull-right" role="group" aria-hidden="true">
          {{buttons.remove(url_for('field_storage.schema_delete', schema_id=schema.id))}}
          {{buttons.edit(url_for('field_storage.schema_edit', schema_id=schema.id))}}
        </div>
      </td>
		</tr>
	{% endfor %}
  <table>
</div>
{% endblock %}

