{% macro link(href, icon='', text='', color='default', class_='', disabled=False) %}
<a href="{{href}}" class="btn btn-{{color}} {{class_}}{% if disabled %} disabled{% endif %}">
  {% if icon !='' %}
    <span class="glyphicon glyphicon-{{icon}}" aria-hidden="true"></span>
  {% endif %}
  {{text}}
</a>
{% endmacro %}

{% macro remove(href, text='', disabled=False) %}
  {{ link(href, icon='remove', text=text, color='danger', class_='confirm', disabled=disabled) }}
{% endmacro %}

{% macro add(href, text='', disabled=False) %}
  {{ link(href, icon='plus', text=text, disabled=disabled) }}
{% endmacro %}

{% macro edit(href, text='', disabled=False) %}
  {{ link(href, icon='edit', text=text, disabled=disabled) }}
{% endmacro %}
