{% macro link(href, icon='', text='', color='default', class_='') %}
<a href="{{href}}" class="btn btn-{{color}} {{class_}}">
  {% if icon !='' %}
    <span class="glyphicon glyphicon-{{icon}}" aria-hidden="true"></span>
  {% endif %}
  {{text}}
</a>
{% endmacro %}

{% macro remove(href, text='') %}
  {{ link(href, icon='remove', text=text, color='danger', class_='confirm') }}
{% endmacro %}

{% macro add(href, text='') %}
  {{ link(href, icon='plus', text=text) }}
{% endmacro %}

{% macro edit(href, text='') %}
  {{ link(href, icon='edit', text=text) }}
{% endmacro %}
