{#-
Create some helper functions to show fields
-#}

{% import "buttons.html" as buttons %}

{% macro add_button(container) %}
  {{ buttons.add(url_for('field_storage.add_field_select_type', container_id=container.id), text=_("Add Field")) }}
{% endmacro %}

{% macro remove_button(field) %}
  {{ buttons.remove(url_for('field_storage.delete_field', field_id=field.id)) }}
{% endmacro %}

{% macro field_outdated_warning(field, class_="pull-right") %}
  {% if field.outdated %}
    <span class="{{class_}}" data-toggle="tooltip"
            title="{% trans days=field.age.days %}Updated over {{days}} day ago{% pluralize %}Updated over {{days}} days ago{% endtrans %}">
      <span class="text-muted"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {% trans days=field.age.days %}{{days}} day{% pluralize %}{{days}} days{% endtrans %}</span>
    </span>
  {% endif %}
{% endmacro %}

{% macro table(container) %}
  <ul class="list-group">
    {% for field_name, field in container.fields.iteritems() %}
    <li class="list-group-item clearfix">
      <div class="col-sm-2"><strong>{{field_name}}</strong></div>
      <div class="col-sm-10 clearfix">
        <div class="pull-right" style="padding-left: 1em">
          <div class="btn-group">
          {% if current_user.is_authenticated %}
            {{ remove_button(field) }}
          {% endif %}
          </div>
        </div>
        {{field.value}}
        {{field_outdated_warning(field)}}
        {% if field.field_type.permit_comment %}
          <p class="text-info">{{field.comment}}</p>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
{% endmacro %}

