{#-
Create some helper functions to show fields
-#}

{% import "buttons.html" as buttons %}

{% macro add_button(container) %}
  {{ buttons.add(url_for('field_storage.add_field_select_type', container_id=container.id), text=_("Add Field")) }}
{% endmacro %}

{% macro edit_button(field) %}
  {{ buttons.edit(url_for('field_storage.edit_field', field_id=field.id)) }}
{% endmacro %}

{% macro remove_button(field) %}
  {{ buttons.remove(url_for('field_storage.delete_field', field_id=field.id), disabled=(not field.can_delete)) }}
{% endmacro %}

{% macro field_outdated_warning(field, class_="pull-right") %}
  {% if field.outdated %}
    <span class="{{class_}}" data-toggle="tooltip"
            title="{% trans days=field.age.days %}Updated over {{days}} day ago{% pluralize %}Updated over {{days}} days ago{% endtrans %}">
      <span class="text-muted"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {% trans days=field.age.days %}{{days}} day{% pluralize %}{{days}} days{% endtrans %}</span>
    </span>
  {% endif %}
{% endmacro %}

{% macro table(container) %}
  <ul class="list-group">
    {% for category in container.categories.values() %}
      <li class="list-group-item clearfix">
        <strong>{{ category.category.name }}</strong>
      </li>
      {% for field in category | sort(attribute='field_type.weight') %}
      <li class="list-group-item clearfix">
        <div class="col-sm-3">
          <strong>{{field.name}}</strong><br/>
          <small>{{field.description}}</small>
        </div>
        <div class="col-sm-9 clearfix">
          <div class="pull-right" style="padding-left: 1em">
            <div class="btn-group">
            {% if current_user.is_authenticated %}
              {{ edit_button(field) }}
              {{ remove_button(field) }}
            {% endif %}
            </div>
          </div>
          {{field.formatter|safe}}
          {{field_outdated_warning(field)}}
          {% if field.field_type.permit_comment %}
            <p class="text-info">{{field.comment}}</p>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    {% endfor %}
  </ul>
{% endmacro %}

