{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
	<h1>{% trans container=container.fields['name'].value %}Add Field to "{{container}}"{% endtrans %}</h1>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class=panel-title">{{schema.name}}</span>
    </div>
    <div class=panel-body">
      <form action method="post" class="form-horizontal" role="form">
        {{ form.hidden_tag() }}

        <div class="form-group ">
					<label class="col-sm-2 control-label">{% trans %}Description{% endtrans %}</label>
          <div class="col-sm-10"><p class="form-control-static">{{ schema.description }}</p></div>
        </div>

        <div class="form-group ">
          {{form.value.label(class_="col-sm-2 control-label")}}
          <div class="col-sm-10">{{ form.value(class_="form-control") }}</div>
        </div>

        <div class="form-group ">
          {{form.comment.label(class_="col-sm-2 control-label")}}
          <div class="col-sm-10">{{ form.comment(class_="form-control") }}</div>
        </div>

        <div class="form-group ">
          <div class="col-sm-2"></div>
          <div class="col-sm-10">{{form.submit(class_="btn btn-primary")}}</div>
        </div>

      </form>
    </div>
  </div>

{% endblock %}
